$font-family: 'Inter', serif;
$body-background-image: url(../images/desktopbackground.png) no-repeat right 0 top 0;

body {
 	font-family: $font-family;
  background: $body-background-image;
  background-size: 100%;
}

$turn-into-pointer: pointer;
$nav-list-color: #505f79;
$nav-font-size: 16px;
$nav-font-weight: bold;

nav ul li {
	color: $nav-list-color;
	font-size: $nav-font-size;
	font-weight: $nav-font-weight;
	cursor: $turn-into-pointer;
}

$h1-font-size: 40px;
$h1-color: #172b4d;
$h1-font-weight: 700;
$h1-span-color: #36b37e;

h1 {
	color: $h1-color;
	font-size: $h1-font-size;
	font-weight: $h1-font-weight;
  span {
	  color: $h1-span-color;
  }
}
$card-description-color: #3a4a42;
$card-description-font-size: 24px;
$card-description-font-weight: 600;
$card-description-margin-block-end: 0;
.card-body {
	color: $card-description-color;
	font-size: $card-description-font-size;
	font-weight: $card-description-font-weight;
	margin-block-end: $card-description-margin-block-end;
}
$card-btn-space-bottom: 2.5rem;
.card-btn {
	margin-block-end: $card-btn-space-bottom;
}
$works-section-space-top : 32rem;
.works-section {
	margin-block-start: $works-section-space-top;
}

$category-list-item-color: #36b37e;
$category-list-item-font-size: 12px;
$category-list-item-font-weight: 600;
$category-list-item-border-radius: 8px;
$category-list-item-line-height: 16px;

.list-item {
	color: $category-list-item-color;
	font-size: $category-list-item-font-size;
	font-weight: $category-list-item-font-weight;
	border-radius: $category-list-item-border-radius;
	line-height: $category-list-item-line-height;
}

$cat-text-color: #344563;
$cat-text-font-size: 24px;
$cat-text-font-weight: 600;
$cat-text-line-height: 32px;

.cat-text {
	color: $cat-text-color;
	font-size: $cat-text-font-size;
	font-weight: $cat-text-font-weight;
	line-height: $cat-text-line-height;
}

$about-image-1: url(../images/aboutimg1-desktop.png) no-repeat right 0 top -55px;
$about-image-2: url(../images/aboutimg2-desktop.png) no-repeat left 0 top 55px;

.about-section {
	background: $about-image-1, $about-image-2;
}

$category-background: #ebf0ee;
$category-border-radius: 8px;
$category-border:  1px solid #c1c7d0;

.category {
	background: $category-background;
	border-radius: $category-border-radius;
	border: $category-border;
}
$desktop-input-width: 23vw;
.desktop-input {
	width: $desktop-input-width;
}
$footer-btn-margin-end: 20rem;
.footer-btn {
	margin-block-end: $footer-btn-margin-end;
}

$footer-margin-block-start: 15rem;
$footer-background: url(../images/footerimg3.png) no-repeat right
                    , url(../images/footerimg1.png) no-repeat left
                    , url(../images/footerimg2.png) no-repeat left 12rem bottom 12rem;
footer {
  margin-block-start: $footer-margin-block-start;
  background: $footer-background;
}
$hr-width: 100vw;
$hr-margin-block-end: 0;
hr {
	width: $hr-width;
	margin-block-end: $hr-margin-block-end;
}
